h1 {
    display: block;
    color: white;
    background-color: pink;
    border: 4px solid white;
    margin: 6px;
    width: 378px;
    height: 102px;
    text-align: center;
    font-size: 50px;
}

body {
    background-image: url("../images/crystal.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.instructions {
    font-style: normal;
    font-family: 'Shadows Into Light', cursive;
    font-size: x-large;
    border: 4px solid pink;
    background-color: whitesmoke;
    margin: 6px;
    width: 400px;
}

.score {

}

.buttons {

}