h1 {
    display: block;
    color: white;
    background-color: pink;
    border: 4px solid white;
    margin: 6px;
    width: 399px;
    height: 115px;
    text-align: center;
    font-size: 40px;
}

body {
    background-image: url("../images/bgcrystal.gif");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.instructions {
    font-style: normal;
    font-family: 'Shadows Into Light', cursive;
    font-size: large;
    border: 4px solid whitesmoke;
    background-color: whitesmoke;
    margin: 6px;
    width: 400px;
}

#display {
    display: block;
    border: 2px solid pink;
    background-color: whitesmoke;
    margin: 4px;
    width: 200px;
}

.score {
border: 2px solid pink;
background-color: whitesmoke;
height: 63px;
width: 143px;
text-align: left;
}

.container1 {
    border: 2px solid pink;
    background-color: whitesmoke;
    height: 43px;
    width: 140px;
    float: left;
    text-align: left;
    margin: 20px;
}

.container2 {
    float: left;
    border: 2px solid pink;
    background-color: whitesmoke;
    height: 43px;
    width: 140px;
    text-align: left;
    padding: 15px;
    margin: 20px;
}

.buttons {
display: inline-flex;
font-family: 'Shadows Into Light', cursive;
margin: inherit;
width: 6px;
}

.crystal1 {
background-size: 10px;
font: caption;
}

.crystal2{
background-size: 10px;
font: caption;
}

.crystal3{
background-size: 10px;
font: caption;
}

.crystal4{
background-size: 10px;
font: caption;
}